version: "3.8"
services:
  server:
    container_name: app
    env_file:
      - path: .env
        required: true
    build:
      context: .
      target: final
    ports:
      - ${SERVER_PORT}:8000
    depends_on:
      db:
        condition: service_healthy


  db:
    image: postgres
    env_file:
      - path: .env
        required: true
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5



volumes:
  db-data:
secrets:
  db-password:
    file: db/password.txt


